@{
    ViewBag.Title = "Home Page";

}
<h2 style="text-align:center"> Test Single Sign-On with Google</h2>
<br />

<a style="text-align:center" target="_blank" href="@ViewData["response"]">Google Sign in</a>